.MainDiv{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content:center;
  z-index: 120;
  align-items: center;
}

.BackdropPostCover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 70;

}
.LikesCount{
  color: #262626;
  font-weight: 500;
  margin-left: 10px;
  display: inline-block;
}
.BackdropPost{
  position: absolute;
  width: 70%;
  height: 80%;
  z-index: 100;
  display: flex;
  box-sizing: content-box;
  box-shadow:2 2 4 #dddfe2;
}

.BackdropPost .Post{
  width: 65%;
  height: 100%;
  background-color: white;
  border-right:1px solid #dddfe2;
  box-sizing: border-box;
}

.Post img{
  width: 100%;
  height:100%;
}

.Post .PostText{
  margin-left: 20px;
  max-width: 80%;
  margin-top: 30px;
  background-color:#dddfe2;
  display: inline-block;
  border-radius: 16px;
  padding: 5px;
}

.BackdropPost .PostAside{
  display: inline-flex;
  width: 35%;
  height: 100%;
  flex-direction: column;
  background-color: white;
}

.PostAside .PostOwner{
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px soid black;
}

.PostOwner img{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-left: 10px;
}

.PostOwner .PostAvatarName{
  color: #262626;
  font-weight: 500;
  margin-left: 10px;
}

.PostAside .PostLikes{
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  border-bottom: 1px soid black;
}

.LikeButton{
  margin-top: 10px;
  display:block;
  width: 100%;
  height: 25px;
  position: relative;
}





.LikeButton .Unlike{
  display: inline-block;
  width: 20px;
  height: 20px;
  background:url('./../../assets/icons/unlike.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: likeanime 0.3s ease-out;
  padding-left: 20px;
}
.LikeButton .Like{
  display: inline-block;
  width: 20px;
  height: 20px;
  background:url('./../../assets/icons/like.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-left: 20px;
}

@keyframes likeanime {
  from {transform: scale(1.5)}
    to {transform: scale(1);}
}

.PostAside .PostComments{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.PostComments .CommentForm{
  width: 100%;
}
