.AuthEnv{
  height: 100vh;
  width: 100vw;
  background-color: #F8F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width:411px) {
  .AuthEnv{
  display: inline-block;
  }
}
