.EditProfile{
  width: 100vw;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.EditProfile .Backdrop{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
}

.EditProfile .EditBox{
  width: 50%;
  height: auto;
  background-color: white;
  z-index: 12;
  border: 1px solid #e6e6e6;
  display: inline-block;
  margin-top: 3%;
}


.EditBox .Header{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  color: #262626;
  font-weight: 500;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.DisplayEdit{
  display: flex;
  align-items: center;
  width: 100%;
}

.BatchIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/graduate.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 20px;
  align-self: flex-start;
  margin-top: 10px;
}
.SchoolIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/university.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 20px;
  align-self: flex-start;
  margin-top: 10px;
}
.DobIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/calendar.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 20px;
  align-self: flex-start;
  margin-top: 10px;
}
.PlaceIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/gps.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 20px;
  align-self: flex-start;
  margin-top: 10px;
}

.BioIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/bio.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  margin-left: 20px;
  align-self: flex-start;
  margin-top: 10px;
}


.EmailIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/email.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 20px;
  align-self: flex-start;
  margin-top: 10px;
}
.FbIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/twitter.svg');
  cursor: pointer;
  margin-left: 20px;
}
.TwitterIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/twitter.svg');
  cursor: pointer;
  margin-left: 20px;
}
.LinkedIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/linkedin.svg');
  cursor: pointer;
  margin-left: 20px;
}
.EditBox .Header>div{
  margin-left: 10px;
}

.EditBox label{
  font-size: 16px;
  color:#262626;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  display: block;
  padding: 5px 20px;
}


.EditBox input{
  width: 400px;
  height: 36px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.EditBox button{
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}
