.OnlineFriends{
  border: 1px solid #dddfe2;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 3px;
}

.OnlineFriends .HeaderOnline{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.OnlineFriends .OnlineBody{
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.OnlineBody .SingleOnline{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.OnlineBody .SingleOnline:last-of-type{
  padding-bottom: 25px;
}

.SingleOnline img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
}


.SingleOnline .Green{
  background-color: green;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 20px;
}

.SingleOnline .Username{
  cursor: pointer;
  color: #262626;
  font-weight: 500;
  margin-left: 10px;
  font-size: 14px;
  padding: 100% 0;
}

.NoFriends{
  color: #999999;
  font-weight: 500;
  font-size: 12px;
  margin-left:34%;
  padding-bottom: 25px;
  padding-top: 25px;
}
