
.AuthBox{
  width: 350px;
  height: auto;
  border-radius: 1px;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
  width: 69%;
  margin: auto;
  margin-bottom: 5px;
}
.LoginSection{
  background-color: white;
  border-radius: 3px;
  padding-top: 20px;
  width: inherit;
  min-height: 300px;
  height: auto;
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.CompanyLogo{
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}


.Logo{
  width:200px;
  height: 100%;
  background-image: url('./../../../assets/companyLogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}



.LoginBox{
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginInput{
  width: 70%;
  margin: auto;
  height: 36px;
  border: 1px solid #e6e6e6;
  margin-bottom: 8px;
}

.LoginInput input{
  width: 96%;
  height: 34px;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  background-color: #F5F5F5;
  border:none;
  outline: none;
  color: #aaaaaa;
  padding-left: 10px;
}

.LoginInput input:focus{
  color: #666666;
  border: 0.5px solid #bbbbbb;
  outline: none;
  box-shadow: none;
  padding-left: 10px;

}

.LoginInput input::placeholder {
  color: #aaaaaa;
  padding-left: 2px;
  font-size: 14px;
}

.Login{
  width: 247px;
  min-height: 15px;
  margin-top: 7px;
  margin-bottom: 15px;
}

  .Login button{
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  margin: 0px;
  color: #fff;
  width: 100%;
  font-size: 16px;
  position: relative;
  left: -1px;
  cursor: pointer;
}


.ForgotPassword{
  width: 350px;
  color: #262626;
  font-size: 14px;
  text-align: center;
  padding: 20px 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.ForgotPassword:hover{
  text-decoration: underline;
}

.SignupBox{
  border-radius: 3px;
  background-color: white;
  width: 350px;
  border: 1px solid #e6e6e6;
  color: #262626;
  font-size: 14px;
  text-align: center;
  padding: 20px 0px;
  box-sizing: border-box;
}





.SignupBox span{
  color: #3897f0;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 3px;
}


@media screen and (max-width:411px) {
  .AuthBox{
    width: 100%;
  }

  .LoginLinkBox{
    width: 98%;
    margin: auto;
  }
}
