

.ProfileBanner{
  width: 80vw;
  height: 280px;
  margin:auto;
  position: relative;
}


.ProfileCoverImage{
  width: 100%;
  height: 100%;
  background-color: green;
  background:url('./../../assets/banner1.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

.Avatar{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 70px;
  bottom: -33px;
}

.Avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid white;
}


.RequestHandler{
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 30px;
  right: 230px;
  bottom: 20px;
  border-radius: 3px;
}
.RequestHandler button{
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  height: 100%;
  border:none;
  margin: none;
  outline: none;
  background-color:#4CAF50 ;
  color: white;
  font-weight: 500;
}

.MessageButton{
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 30px;
  right: 60px;
  bottom: 20px;
  border-radius: 3px;
}

.MessageButton button{
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  height: 100%;
  border:none;
  margin: none;
  outline: none;
  background-color:#4267b2 ;
  color: white;
  font-weight: 500;
}

.ProfileWrapper{
  height: 100vh;
  width: 80vw;
  margin: auto;
}

.ProfileNav{
  height: 7vh;
  background: white;
  border-bottom: 1px solid #efefef;
}



.ProfileDetails{
  width: 300px;
  height: 250px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 5px;
  display: inline-block;
  background: white;
  border: 1px solid #e6e6e6;
}


.ProfileDetails .ProfileName{
  text-align: center;
  margin-top: 2px;
  color: #262626;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
}

.SchoolIcon{
  width: 16px;
  margin-left: 10px;
  margin-right: 10px;
  height: 16px;
  display: inline-block;
  background: url('./../../assets/icons/home.svg');
  margin-bottom: 10px;
}
.BatchIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url('./../../assets/icons/graduate.svg');

}
.PlaceIcon{
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('./../../assets/icons/gps.svg')
}
.BioIcon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('./../../assets/icons/bio.svg');
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.ProfileIntro{
  margin-top: 15px;
  width: 90%;
  font-size: 14px;
  color: #262626
}

.ProfileIntro p{
  width: 80%;
  display: inline-block;
}

.ProfileIntro:nth-of-type(3){
margin-top: 0px;
}

.FavQuote{
  margin-left: 30px;
  width: 90%;
  color: #262626;
  font-style: italic;
  display: inline-block;
}
.FavQuote p{
  line-height: 5px;
  padding: 6px;
  margin: 0px;
  display: inline-block;
  float: right;
}

.PostRelated{
  width: 550px;
  position: relative;
  width: 550px;
  display: inline-block;
  margin-left: 40px;
  top: -50px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.ProfilePost{
  width: 100%;

}

.DisplayPost{
  width: 100%;
  margin-top: 40px;
}
