.SearchProfile{
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

.ProfileBanner{
  width: 80vw;
  height: 280px;
  margin:auto;
  position: relative;
}

.PrivateAcc{
  color: #999999;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin-top: 10%;
  width: 100%;
  text-align: center;
}
.PrivateAcc p{
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

 .PrivateLock{
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: -5px;
  position: relative;
  background: url('./../../assets/icons/padlock.svg');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ProfileCoverImage{
  width: 100%;
  height: 100%;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: 100% 60%;
}
.SearchCoverImg{
  width: 100%;
  height: 100%;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: 100% 60%;
}
.MobileProfileBanner{
  width: 100vw;
  height: 200px;
  display: none;
}
.MobileProfileBanner img{
  height:100%;
  width:100%;
}
.Avatar{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 70px;
  bottom: -33px;
}

.Avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid white;
}


.RequestHandler{
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 30px;
  right: 230px;
  bottom: 20px;
  border-radius: 3px;
}
.RequestHandler button{
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  height: 100%;
  border:none;
  margin: none;
  outline: none;
  background-color:#4CAF50 ;
  color: white;
  font-weight: 500;
}

.MessageButton{
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 30px;
  right: 60px;
  bottom: 20px;
  border-radius: 3px;
}

.MessageButton button{
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  height: 100%;
  border:none;
  margin: none;
  outline: none;
  background-color:#4267b2 ;
  color: white;
  font-weight: 500;
}

.ProfileWrapper{
  height: 100vh;
  width: 80vw;
  margin: auto;
}

.ProfileNav{
  height: 7vh;
  background: white;
  border-bottom: 1px solid #efefef;
}



.ProfileDetails{
  width: 300px;
  height: 250px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 5px;
  display: inline-block;
  background: white;
  border: 1px solid #e6e6e6;
}


.ProfileDetails .ProfileName{
  text-align: center;
  margin-top: 2px;
  color: #262626;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
}

.SchoolIcon{
  width: 16px;
  margin-left: 10px;
  margin-right: 10px;
  height: 16px;
  display: inline-block;
  background: url('./../../assets/icons/home.svg');
  margin-bottom: 10px;
}
.BatchIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url('./../../assets/icons/graduate.svg');

}
.PlaceIcon{
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('./../../assets/icons/gps.svg')
}
.BioIcon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('./../../assets/icons/bio.svg');
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.ProfileIntro{
  margin-top: 15px;
  width: 90%;
  font-size: 14px;
  color: #262626
}

.ProfileIntro p{
  width: 80%;
  display: inline-block;
}

.FavQuote{
  margin-left: 30px;
  width: 90%;
  color: #262626;
  font-style: italic;
  display: inline-block;
}
.FavQuote p{
  line-height: 5px;
  padding: 6px;
  margin: 0px;
  display: inline-block;
  float: right;
}

.PostRelated{
  width: 550px;
  display: inline-flex;
  flex-direction: column;
  float: right;
  margin-right: 17%;
  margin-top: 3%;
  justify-content: center;
}

.ProfilePost{
  width: 100%;

}

.DisplayPost{
  width: 100%;
  margin-top: 40px;
}


.ProfileIntro:nth-of-type(3){
margin-top: 0px;
}
.ConnectIcon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('./../../assets/icons/link.svg');
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  margin-right: 10px;
}

.SingleProfileDetails{
  border-radius: 5px;
  background: white;
  border: 1px solid #e6e6e6;
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.ProfileIntro{
  margin-top: 15px;
  width: 90%;
  font-size: 14px;
  color: #262626;
  display:flex;
  align-items: center;
}
.Follow{
  width: 90%;
  display:flex;
  align-items: center;
  margin-left: 20px;
}
.EmailIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
  height: 18px;
  display: inline-block;
  background: url('./../../assets/icons/email.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.FbIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/facebook.svg');
  cursor: pointer;

}
.TwitterIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/twitter.svg');
  cursor: pointer;
}
.LinkedIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/linkedin.svg');
  cursor: pointer;
}


.ProfileDetails .OtherName{
  color: #262626;
  font-size: 15px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  display:inline-flex;
  align-items: center;
  height: 30px;
}

.ProfileDetails .OtherName .Edit{
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('./../../assets/icons/edit.svg');
  cursor: pointer;
  margin-left: 175px;
  margin-top: 0px;
}
.ProfileDetails .OtherName p{
  margin-left: 10px;
}











@media screen and (max-width:450px) {
  .ProfileBanner{
    width: 100vw;
    height: 200px;
    margin: 0;
  }
  .ProfileCoverImage{
    display: none;
  }
  .MobileProfileBanner{
    display: inline-block;
  }

  .Avatar{
    width: 100px;
    height: 100px;
    left: 35%;
    top: 70%;
  }

.ProfileWrapper{
  width: auto;
  height: auto;
  margin: auto;
}
.ProfileNav{
  padding: 0;
  margin: 0;
}
  .ProfileDetails{
    width: 100vw;
    border: none;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .ProfileDetails .ProfileName{
    margin-top: 0px;
  }
  .PostRelated{
    display: inline-flex;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    margin-top: 45px;
  }
  .RequestHandler .RequestButton{
    bottom: -58px;
    min-width: 103px;
    left: 33px;
    margin: 0px;
    width: auto;
    padding: 0px 10px;
  }

  .MessageButton {
    bottom: -28px;
    width: 119px;
    position: absolute;
    right: 20px;
    margin: 0px;
    width: auto;
    padding: 0px 5px;
  }
}
