.MessageBox{
  position: fixed;
  bottom: 5px;
  right: 120px;
  width: 270px;
  height: 320px;
  display: inline-flex;
  background-color: white;
  border: 1px solid #dddfe2;
  flex-direction: column;
  border-radius: 3px;
  z-index: 2;
  overflow: hidden;
}

.MessageBox .HeaderMsg{
  width: 100%;
  height: 13%;
  border-bottom: 1px solid #dddfe2;
  display: flex;
  align-items: center;
}


.HeaderMsg img{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 10px;
}

.HeaderMsg .HeaderNameMsg{
  cursor: pointer;
  color:#262626;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  max-width: 60%;
  width: 60%;
}

.HeaderMsg .CloseMsg{
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-top: 2%;
  margin-left: 10%;
  background: url('./../../assets/icons/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.MessageBox .BodyMsg{
  width: 100%;
  height: 80%;
  flex-direction: column;
  border-bottom: 1px solid #dddfe2;
  padding-top: 5px;
  overflow-y: auto;
}
.MessageBox .BodyMsg::-webkit-scrollbar {
    width: 3px;  /* remove scrollbar space */
}

.BodyMsg .IndvRight{
  height: auto;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.BodyMsg {
  padding-bottom: 40px;
}

.IndvRight img{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  align-self: flex-start;
  margin-left: 10px;
}

.IndvRight .ChatMsg{
  color: #262626;
  font-size: 14px;
  margin-left: 10px;
  display: inline;
  background-color: #e5e5e8;
  border-radius: 10px;
  padding: 3px;
  font-weight: 500;
}




.BodyMsg .IndvLeft{
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 20px;
}

.IndvLeft img{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  align-self: flex-start;
}


.IndvLeft .ChatMsg{
  color: white;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  background-color: #4267b2;
  border-radius: 10px;
  padding: 3px;
}




.MessageBox form{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  padding-bottom: 5px 0px;
}

.MsgInputBox input{
  width: 80%;
  height: 70%;
  border: none;
  outline: none;
  padding-bottom: 0px;
  margin-left: 7px;
}

.MsgInputBox .ButtonSend{
  cursor: pointer;
  width: 20%;
  height: 70%;
  background: url('./../../assets/icons/send.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2px;
}
@media screen and (max-width:450px) {
  .MessageBox{
    width: 100vw;
    height: 95vh;
    top:45px;
    left: 0px;
    border: none;
    border-radius: 0px;
  }
  .MessageBox .HeaderMsg{
    height: 60px;
    padding: 0px;
    margin: 0px;
  }
   .HeaderMsg .HeaderAvatar{
    width: 30px;
    height: 30px;
  }
  .HeaderMsg .HeaderNameMsg{
    font-size: 18px;
  }
  .HeaderMsg .CloseMsg{
    position: absolute;
    right: 20px;
    top: 8px;
  }
  .MessageBox form{
    height: 15%;
  }
  .MsgInputBox input{
    font-size: 18px;
  }
  .MsgInputBox .ButtonSend{
    width: 30px;
    height: 30px;
    padding-left: 20px;
  }
}
