.Home{
  width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
}


.PostWrapper{
  width: 50%;
  margin: auto;
  min-height: 81vh;
  padding-bottom:50px;
  height: auto;
}

.Postrelated{
  width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.CreatePost{
  width: 100%;
}
.DisplayPost{
  width: 100%;
  margin-top: 30px;
}
