.PostPostDisplay{
  display: inline-flex;
  flex-direction: column-reverse;
  width: 100%;
  height: auto;
}

.Post{
  width: 100%;
  height: auto;
  border: 1px solid #eaeaec;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 20px;
}



.NoPostDisplay{
  width: 100%;
  height: auto;
  padding: 20px 0px;
  border-radius: 2px;
  text-align: center;
}


.NoPost{
  color: grey;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
}



.Post:last-of-type{
margin-bottom: 10px;
}



.PostArea{
  width:100%;
  min-height:100px;
  height: auto;
  position: relative;
}

.PostDisplayHeader{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.Avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.Avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Name{
  color: #262626;
  font-weight: 500;
  font-size: 1em;
  margin-left: 10px;
  cursor: pointer;
  display: inline-flex;
}


.DeletePost{
 cursor: pointer;
 align-self: flex-start;
 margin-top: 8px;
 width: 20px;
 height: 20px;
 background: url('./../../assets/icons/more.svg');
 position: absolute;
 right: 10px;
}

.DeletePost .DeleteContainer{
  width: 100px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  color: #262626;
  background-color: #eaeaec;
  top: 15px;
  left: -70px;
  font-size: 14px;
}

.DeletePost:hover .DeleteContainer{
  visibility: visible;
  opacity: 1;
}




.Article{
  width: 97%;
  display:block;
  padding: 20px 10px;
  color: #1d2129;
  cursor: pointer;
}

.PostImage{
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.PostImage img{
  width: inherit;
  max-width: 614px;
  height: 100%;
}

.LikeButton{
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 25px;
  position: relative;
  border-bottom: 0.5px solid #eaeaec;
}

.LikeHover{
background-color: #787878;
color: #D0D0D0;
font-size: 12px;
padding: 5px;
border-radius: 10px;
visibility: hidden;
opacity: 0;
position: absolute;
top: -27px;
left: 10px;
transition: opacity 0.3s ease-out;
}

.LikeButton:hover .LikeHover{
  visibility: visible;
  opacity: 1;
}


.LikeButton .Unlike{
  display: inline-block;
  width: 20px;
  height: 20px;
  background:url('./../../assets/icons/unlike.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: likeanime 0.3s ease-out;
  padding-left: 20px;
}
.LikeButton .Like{
  display: inline-block;
  width: 20px;
  height: 20px;
  background:url('./../../assets/icons/like.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-left: 20px;
}

@keyframes likeanime {
  from {transform: scale(1.5)}
    to {transform: scale(1);}
}


@media screen adn (max-width:450px) {
  .Post{
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

  }
}
