.Profile{
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f5f5f5;
  position: relative;
  top: 52px;
}
.ProfileBanner{
  width: 80vw;
  height: 280px;
  margin:auto;
  position: relative;
}


.ProfileCoverImage{
  width: 100%;
  height: 100%;
}

.ProfileCoverImage .CoverBack{
  height: 100%;
  width: 100%;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: 100% 60%;
}


.DummyCoverImage{
  width: 100%;
  height: 100%;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: 100% 60%;
}

.ProfileCoverLoad{
  width: 100%;
  height: 116%;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.UpdateCoverPicture{
  display: inline-block;
  width: auto;
  height: auto;
  position: absolute;
  top: 10%;
  right: 1%;
}

.UpdateCoverPicture input{
  width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
}

.UpdateCoverPicture label{
  cursor: pointer;
  position: absolute;
  right: 0px;
  margin: 0;
  padding: 0;
  color: #2488ff;
  font-size: 18px;
  display: inline-block;
  font-weight: bolder;
  width: auto;
}


.UpdateCoverPicture .UploadCoverButton{
  display: inline;
  text-align:center;
  position: absolute;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  background-color: grey;
  border:none;
  outline: none;
  cursor: pointer;
  left:-80px;
}

.UpdateCoverPicture button{
  background-color: none;
  border:none;
  outline: none;
  cursor: pointer;
}


.MobileProfileBanner{
  width: 100vw;
  height: 200px;
  display: none;
}
.MobileProfileBanner img{
  height:100%;
  width:100%;
}
.Avatar{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 70px;
  bottom: -33px;
}

.Avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid white;
}

.AvatarLoading{
  width: 130px;
  height: 130px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 200;
  position: absolute;
}

.Avatar .ProfileBackDrop{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 2%;
  left: 2%;
  display: none;
}


.Avatar .UpdateProfilePicture{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 33%;
}

.Avatar:hover .ProfileBackDrop{
display: inline-block;
}

.UpdateProfilePicture input{
  width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
}

.UpdateProfilePicture label{
  cursor: pointer;
  position: absolute;
  top: -35px;
  left: 0px;
  color: #2488ff;
  font-size: 4em;
  font-weight: bolder;
}


.UpdateProfilePicture .UploadImgButton{
  text-align:center;
  position: absolute;
  width: 60px;
  height: 50%;
  top: -15px;
  left: -10px;
  background-color: none;
  background: url('./../../assets/icons/checked.svg');
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
  border:none;
  padding: 0px;
  outline: none;
  cursor: pointer;
}
.UpdateProfilePicture .UploadImgButton button{
  background-color: none;
  border:none;
  outline: none;
  cursor: pointer;
}




.ProfileWrapper{
  height: 100vh;
  width: 80vw;
  margin: auto;
}

.ProfileNav{
  height: 7vh;
  background: white;
  border-bottom: 1px solid #efefef;
}



.ProfileDetails{
  width: 300px;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 20px;
}

.SingleProfileDetails{
  border-radius: 5px;
  background: white;
  border: 1px solid #e6e6e6;
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px;
}




.SingleProfileDetails .Edit{
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('./../../assets/icons/edit.svg');
  display: inline-block;
  float:right;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.ProfileDetails .ProfileName{
  text-align: center;
  margin-top: 2px;
  color: #262626;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
}

.ProfileDetails .OtherName{
  color: #262626;
  font-size: 15px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  display:inline-flex;
  align-items: center;
  height: 30px;
}

.ProfileDetails .OtherName .Edit{
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('./../../assets/icons/edit.svg');
  cursor: pointer;
  margin-left: 175px;
  margin-top: 0px;
}
.ProfileDetails .OtherName p{
  margin-left: 10px;
}

.SchoolIcon{
  width: 16px;
  margin-left: 10px;
  margin-right: 10px;
  height: 16px;
  display: inline-block;
  background: url('./../../assets/icons/home.svg');
  margin-bottom: 10px;
}
.BatchIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url('./../../assets/icons/graduate.svg');
}
.EmailIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
  height: 18px;
  display: inline-block;
  background: url('./../../assets/icons/email.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.FbIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/facebook.svg');
  cursor: pointer;

}
.TwitterIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/twitter.svg');
  cursor: pointer;
}
.LinkedIcon{
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./../../assets/icons/linkedin.svg');
  cursor: pointer;
}

.PlaceIcon{
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('./../../assets/icons/gps.svg')
}
.BioIcon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('./../../assets/icons/bio.svg');
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.ConnectIcon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('./../../assets/icons/link.svg');
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  margin-right: 10px;
}


.ProfileIntro{
  margin-top: 15px;
  width: 90%;
  font-size: 14px;
  color: #262626;
  display:flex;
  align-items: center;
}
.Follow{
  width: 90%;
  display:flex;
  align-items: center;
  margin-left: 20px;
}
.ProfileIntro p{
  width: 80%;
  display: inline-block;
}

.ProfileIntro:nth-of-type(3){
margin-top: 0px;
}

.FavQuote{
  margin-left: 30px;
  width: 90%;
  color: #262626;
  font-style: italic;
  display: inline-block;
}
.FavQuote p{
  line-height: 5px;
  padding: 6px;
  margin: 0px;
  display: inline-block;
  float: right;
}



.PostRelated{
  width: 550px;
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
}

.ProfilePost{
  width: 100%;
}

.DisplayPost{
  width: 100%;
  margin-top: 40px;
}


@media screen and (max-width:450px) {
  .ProfileBanner{
    width: 100vw;
    height: 200px;
    margin: 0;
  }
  .ProfileCoverImage{
    display: none;
  }
  .MobileProfileBanner{
    display: inline-block;
  }

  .Avatar{
    width: 100px;
    height: 100px;
    left: 35%;
    top: 70%;
  }

.ProfileWrapper{
  width: auto;
  height: auto;
  margin: auto;
}
.ProfileNav{
  padding: 0;
  margin: 0;
}
  .ProfileDetails{
    width: 100vw;
    margin: 0;
    padding: 0;
    border: none;
  }
  .SingleProfileDetails{
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .SingleProfileDetails .ProfileName{
    margin: auto;
    margin-top: 0;
    padding-top: 5px;
    width: 70%;
  }
  .PostRelated{
    width: 100vw;
  }


}
